name: '[Reusable/internal] Set Default Branch'
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
jobs:
  set-default-branch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set default branch
        run: |
          gh repo edit --default-branch ${{ inputs.branch }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
