name: "[Reusable/internal] Create Branch If Not Exists"
on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch name to create'
        required: true
        type: string
jobs:
  create_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout default branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Fetch all remote branches
        run: git fetch --all
      - name: Check if branch exists
        id: check_branch
        run: |
            if git show-ref --verify --quiet refs/heads/${{ inputs.branch }}; then
              echo ${{ inputs.branch }} is exists locally.
              echo "exists=true" >> $GITHUB_OUTPUT
            elif git ls-remote --exit-code --heads origin "${{ inputs.branch }}" > /dev/null; then
              echo ${{ inputs.branch }} is exists remotely.
              echo "exists=true" >> $GITHUB_OUTPUT
            else
              echo ${{ inputs.branch }} does not exist.
              echo "exists=false" >> $GITHUB_OUTPUT
            fi
      - name: Create branch if not exists
        if: steps.check_branch.outputs.exists == 'false'
        run: |
          git branch ${{ inputs.branch }}
          git push origin ${{ inputs.branch }}
