name: '[Reusable/internal] Close PR'
on:
  workflow_call:
    inputs:
      body:
        required: false
        type: string
        default: "This PR has been closed automatically."

jobs:
  close-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Is PR event
        run: |
          if [ "${{ github.event_name }}" != "pull_request" ] && [ "${{ github.event_name }}" != "pull_request_target" ]; then
            echo "This workflow can only be run on pull_request or pull_request_target events."
            exit 1
          fi
      - uses: actions/checkout@v5
      - name: Create comment file
        run: echo "${{ inputs.body }}" > comment.md
      - name: Close PR
        run: |
          gh pr close ${{ github.event.number }} --body-file comment.md
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
