name: "[Reusable/internal] Create Empty Commit"
on:
  workflow_call:
    inputs:
      branch:
        description: 'Branch name'
        required: true
        type: string
      commit_message:
        description: 'Commit message'
        required: true
        type: string
jobs:
  create-empty-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
      - name: Create empty commit
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
          git commit --allow-empty -m "${{ inputs.commit_message }}"
          git push origin HEAD:${{ inputs.branch }}
