name: '[Reusable] Label maintenance'
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Create Release
      run: |
        gh release create "${{ inputs.version }}" --target main --title "Version ${{ inputs.version }}" --generate-notes --latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
