name: '[Reusable] Label maintenance'
on:
  workflow_call:

jobs:
  calc_version:
    uses: ./.github/workflows/calc_version.yml
  create-release:
    runs-on: ubuntu-latest
    needs: [calc_version]
    steps:
    - name: Create Release
      run: |
        gh release create "${{ needs.calc_version.outputs.version }}" --title "Release ${{ needs.calc_version.outputs.version }}" --generate-notes
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
