name: '[Reusable] Label maintenance'
on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
    - name: Create Release
      run: |
        gh release create "${{ inputs.version }}" --title "Version ${{ inputs.version }}" --generate-notes
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
