name: '[Reusable] Initialize repository'
on:
  workflow_call:
jobs:
  check_initial_commit:
    if: github.event_name == 'workflow_dispatch' || contains(github.event.head_commit.message, 'Initial commit')
    runs-on: ubuntu-latest
    steps:
      - name: 'Check Initial Commit'
        run: |
          echo "This is the initial commit. Proceeding with repository initialization."
  label_maintenance:
    needs: [check_initial_commit]
    uses: slime-hatena/reusable-workflows/.github/workflows/label_maintenance.yml@main
    with:
      dry_run: false
  create_main_branch:
    needs: [check_initial_commit]
    uses: slime-hatena/reusable-workflows/.github/workflows/_internal_create_branch.yml@main
    with:
      branch: 'main'
  create_develop_branch:
    needs: [check_initial_commit]
    uses: slime-hatena/reusable-workflows/.github/workflows/_internal_create_branch.yml@main
    with:
      branch: 'develop'
  create_empty_commit_to_develop:
    needs: [create_develop_branch]
    uses: slime-hatena/reusable-workflows/.github/workflows/_internal_create_empty_commit.yml@main
    with:
      branch: 'develop'
      commit_message: |
        Create Pull Request

        To create a new pull request, some changes are needed, so a commit is created.
  calc-version:
    uses: ./.github/workflows/calc_version.yml
    needs: [label_maintenance, create_main_branch, create_empty_commit_to_develop]
  get-pr-list:
    needs: [label_maintenance, create_main_branch, create_empty_commit_to_develop]
    uses: ./.github/workflows/_internal_get_pr_list.yml
  create_pull_request:
    needs: [calc-version, get-pr-list]
    uses: slime-hatena/reusable-workflows/.github/workflows/_internal_create_pr.yml@main
    with:
      base: 'main'
      head: 'develop'
      title: 'Next Release'
      body: |
        This Pull Request is for a release. If you approve it, a release will be created.

        **Please do not add any tags other than `Release`.**  
        Adding other tags may result in an unintended release or incorrect version.

        Next version: `${{ needs.calc-version.outputs.version }}`

        ${{ needs.get-pr-list.outputs.pr_list }}
